body {
    background-color: #d4d3d3;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
}

.calc {
    padding: 10px;
    background-color: #f9f9f9;
    height: auto;
    width: auto;
    justify-content: center;
    position: absolute;
    border-radius: 5px;

}

#result {
    width: 312px;
    height: 100px;
    align-self: center;

    text-align: right;
}

#history {
    font-size: 20px;
    
    margin-top: 3px;
    color: #959595;
    font-weight: 600;
}

#output {
    font-size: 40px;
    font-weight: 800;
    margin-top: 3px;
}

#numbr-operations {
    display: flex;
    flex-direction: row;
}

#action-btns{
    display: flex;
    flex-wrap: nowrap;
    
}

.act-butn {
    margin: 3px;
    height: 70px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.ins-butn {
    height: 70px;
    width: 70px;
    margin: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

#op-btns {
    display: flex;
    align-items: center;
    flex-direction: column;
}

